@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Your one stop for all your automotive repair needs!</p>
</div>

   
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/media/products/BrakeCaliper_Red.png" class="d-block w-100" alt="Red cool alternator" height="400px" width="150px">
        </div>
        <div class="carousel-item">
            <img src="~/media/products/Sylvania_Blue.png" class="d-block w-100" alt="Sylvania blue lightbulbs" height="400px" width="150px">
        </div>
        <div class="carousel-item">
            <img src="~/media/products/CarStarter_3.png" class="d-block w-100" alt="Car starter" height="400px" width="150px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
